*{ 
margin: 0px; 
padding: 0px;
box-sizing: border-box; 
} 
a{ 
    text-decoration: none;  
    outline: none;

}
.footer{ 
    width: 100%; 
    height: auto; 
    margin: auto; 
    background:#33CAFF; 
    padding: 20px 0px; 
} 
.footer-social-icons{ 
    width: 100%; 
    height: auto; 
    margin: auto; 
} 
.footer-social-icons{ 
margin: 0px; 
padding: 0px; 
text-align: center;
} 
.footer-social-icons ul li{ 
display: inline-block;  
width: 50px; 
height:50px; 
margin: 0px 10px; 
border-radius: 100%;
background: #fff; 
}
.footer-social-icons ul li a{ 
color: #272727;
font-size:25px; 
display: block;
} 
.footer-social-icons ul li a i{ 
    line-height:50px;
}  
.footer-social-icons ul li a:hover{ 
    color:#333CFF;
}

.footer-menu-one{ 
    width: 100%; 
    height: auto;
    margin: auto; 
    margin-top: 25px; 
} 
.footer-menu-one ul{ 
margin: 0px; 
padding: 0px; 
text-align: center;
} 
.footer-menu-one ul li{  
display: inline-block; 
margin: 0px 15px; 
} 
.footer-menu-one ul li a{ 
    font-family: arial;  
    font-size:15px; 
    font-weight: 600; 
    color: #fff;  
    letter-spacing: 1px;
    text-transform: uppercase;
}   
.footer-menu-one ul li a:hover{ 
    color: #272727;
}

.footer-menu-two{ 
    width: 100%; 
    height: auto;
    margin: auto; 
    margin-top: 15px; 
} 
.footer-menu-two ul{ 
margin: 0px; 
padding: 0px; 
text-align: center;
} 
.footer-menu-two ul li{  
display: inline-block; 
margin: 0px 15px; 
} 
.footer-menu-two ul li a{ 
    font-family: arial;  
    font-size:12px; 
    font-weight: 600; 
    color: #fff;  
    letter-spacing: 1px;
    text-transform: uppercase;
}  

.footer-menu-two ul li a:hover{ 
    color: #272727;
}
.footer-bottom{ 
    width:100%; 
    height: auto;
    margin: auto; 
    background: #272727; 
    padding:10px;
} 
.footer-bottom{ 
    font-family: arial; 
    font-size: 14px; 
    text-align: center; 
    color: #fff; 
    font-weight: 600; 
    letter-spacing: 1px;
} 
.footer-bottom p a{ 
    color:#fff; 
} 
.footer-bottom p a:hover{ 
    color: #33CAFF;
}