* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none;
}

.footer {
    width: 100%;
    height:117px;
    margin: auto;
    background: rgb(206, 220, 224);
    padding: 20px 0px;
}

.footer-social-icons {
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-social-icons {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-social-icons ul li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #fff;
}

.footer-social-icons ul li a {
    color: #272727;
    font-size: 20px;
    display: block;
}

.footer-social-icons ul li a i {
    line-height: 10px;
}

.footer-social-icons ul li a:hover {
    color: #333CFF;
}

.footer-menu-one {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}

.footer-menu-one ul {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}

.footer-menu-one ul li {
    display: inline-block;
    margin: 0px 15px;
}

.footer-menu-one ul li a {
    font-family: arial;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-menu-one ul li a:hover {
    color: #272727;
    text-decoration: none;
}

.footer-menu-two li a:hover {
    text-emphasis: none;
    text-decoration: none;
}

.footer-menu-two ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-menu-two ul li {
    display: inline-block;
    margin: 0px 15px;
}

.footer-menu-two ul li a {
    font-family: arial;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-menu-two ul li a:hover {
    color: #272727;
}

.footer-bottom {
    width: 100%;
    height: 25px;
    margin: auto;
    background: #272727;
    padding: 10px;
}

.footer-bottom {
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: 300px;
    letter-spacing: 1.2px;
}

.footer-bottom p a {
    color: #fff;
}

.footer-bottom p a:hover {
    color: #33CAFF;
    text-decoration: none;
}