#body {
    opacity: 0.92;
}

#bodyRegister {
    background-color: white;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.92;
}

#cardview {
    align-items: center;
}

#cardd {
    align-items: center;
    margin-top: 15%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

#cardhead {
    height: 50px;
}

#head {
    margin-top: 4%;
}

#loginbtn {
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
}

#loginBtn:hover {
    background-color: green;
    color: #fff;
}

#submitBtn:hover {
    background-color: green;
    color: #fff;
}

#registerbtn {
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 1%;
}

#carddR {
    align-items: center;
    margin-top: 15%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    width: 50%;
}

#prevBtn:hover {
    background-color: gray;
    color: #fff;
}

#nextBtn:hover {
    background-color: green;
    color: #fff;
}

.centered-form {
    margin-top: 5%;
}

.centered-form .card {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3)20px 20px 20px;
}

.tab {
    display: none;
} 

.step.finish {
    background-color: #4CAF50;
}

#contact {
    background-color: black;
    display: none;
}

#settings {
    background-color: green;
    display: none;
}

#stock {
    background-size: 100%;
    background-color: fuchsia;
    display: none;
}
#profile{
    display: none;
}


#pageText{
    margin: 30px 10px 10px 10px;
    padding: 1px;
    float: left;
    width: 100%;
}
#addProducts{
    margin: 100px 10px 100px 10px;
    padding: 20px;
    float: left;
    width: 41%;
    position: absolute;
    visibility: hidden;
}
#addProducts #singleInput{
    position: absolute;
}
#addProducts #multipleInput{
    margin-left: 20px;
}
#multipleInput #newMedication #addToStockBtnMultiple{
    max-width: 250px;
    margin-top: 20px;
    align-self: center;
}
#addProducts #multipleInput #products {
    float: left;
    padding: 0.5px;
}


#addProducts select {
    margin-bottom: 100px;
}

#addProducts #addToStockBtnSingle{
    background-color: dodgerblue;
    color: #fff;
    cursor: pointer;
}
#addProducts #addToStockBtnMultiple{
    background-color: dodgerblue;
    color: #fff;
    cursor: pointer;
}

#addProducts #addToStockBtnSingle:hover {
    background-color: green;
}
#addProducts #addToStockBtnMultiple:hover {
    background-color: green;
}

#mypharmacy #myPharmHeading h4{
    float: left;
    width: 33.333%;
    outline: none;
    margin: none;
    padding: 1%;
    background-color: #eee;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #eee;
    cursor: pointer;
    border-bottom: 3px solid #ff5656;
}

#mypharmacy #myPharmHeading h4:hover{
    background-color: #d7d4d4;  
    border-bottom: 3px solid #d7d4d4;
}

#mypharmacy h4{
    float: left;
    width: 33.34%;
    padding: 10px;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}
.switch input {
    display: none;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: 1.5s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius:30px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

  /**/
#profile .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
#profile .title {
    color: grey;
    font-size: 18px;
  }
  
#profile  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
#profile  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
  
#profile  button:hover, a:hover {
    opacity: 0.7;
}

#StockItems .switch {
    margin-top: 15px;
}