.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(48, 46, 46);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: blueviolet;
    display: block;
    transition: 0.3s;
}

.sidenav a i{
    padding-right: 15px;
}

.sidenav a:hover {
    color: #f1f1f1;
    border-left: 10px solid blueviolet;
    font-size: 20px;
}

.holder{
    margin-left: 220px;
}