#cardview{
    align-items: center;
}
#cardd{
    align-items: center;
    margin-top: 15%;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

#cardhead{
    height: 50px;
}

#head{
    margin-top: 4%;
}
#loginbtn{
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
}

#registerbtn{
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 1%;
}
